In [ ]:
import pandas as pd
import requests

## Haber

In [ ]:
import pandas as pd
import requests

def fetch_news(symbol, limit=10, api_key=None):
    base_url = "https://api.polygon.io/v2/reference/news"
    params = {
        "ticker": symbol,
        "limit": limit,
        "apiKey": api_key
    }

    try:
        response = requests.get(base_url, params=params)
        response.raise_for_status()  # Raise an exception for HTTP errors
        data = response.json()
        return data
    except requests.exceptions.RequestException as e:
        print(f"Request error: {e}")
        return None

def create_news_dataframe(news_data):
    if 'results' not in news_data:
        return None
    
    results = news_data['results']
    if not results:
        return None
    
    # Initialize lists to store data
    titles = []
    urls = []
    summaries = []
    sources = []
    timestamps = []

    # Extract data from each news item
    for news_item in results:
        titles.append(news_item.get('title', ''))
        urls.append(news_item.get('article_url', ''))
        summaries.append(news_item.get('description', ''))
        sources.append(news_item['publisher']['name'])
        timestamps.append(news_item['published_utc'])

    # Create DataFrame
    df = pd.DataFrame({
        'title': titles,
        'url': urls,
        'summary': summaries,
        'source': sources,
        'timestamp': timestamps
    })

    # Convert timestamp to datetime format
    df['timestamp'] = pd.to_datetime(df['timestamp'], format='%Y-%m-%dT%H:%M:%SZ')

    return df

if __name__ == "__main__":
    symbol = "TSLA"
    limit = 10
    api_key = "qoRTvJQynYadpOnIE1Eg9yT8ptaI82yR"  # Replace with your actual API key

    # Fetch news data
    news_data = fetch_news(symbol, limit, api_key)
    df = create_news_dataframe(news_data)
df

## Saatlik veriler

In [ ]:
import yfinance as yf

# TSLA için yfinance ile bir Ticker nesnesi oluşturun
tsla = yf.Ticker("TSLA")

# En son saatlik verileri çekin (1 gün için)
tsla_hourly_data = tsla.history(period="730d", interval="1h")

# İlk birkaç satırı görüntüleyin
tsla_hourly_data

In [ ]:
# Hedef hisse senedi
ticker = 'TSLA'

# Ticker nesnesini oluştur
tsla = yf.Ticker(ticker)

# Anlık veriyi al
tsla_minute_data = tsla.history(period='1d', interval='1m')
tsla_minute_data

In [ ]:
latest_data = tsla_minute_data.tail(1)
latest_data

In [ ]:
# Bugünün tarihini al
today = datetime.today()

# Bugünün tarihine bir gün ekle
#tomorrow = (today + timedelta(days=1)).strftime('%Y-%m-%d')

# 730 gün öncesinin tarihini hesapla
start_date = (today - timedelta(days=729)).strftime('%Y-%m-%d')

# Son 2 yılın saatlik verilerini çekin
tsla_data = tsla.history(start=start_date, end=today, interval="1h")
tsla_data

In [ ]:
# NIO için yfinance ile bir Ticker nesnesi oluşturun
TSLA = yf.Ticker("TSLA")

# En son saatlik verileri çekin (730 gün için)
df_TSLA = TSLA.history(period="730d", interval="1h")

# İlk birkaç satırı görüntüleyin
df_TSLA

In [ ]:
# Hedef hisse senedi
ticker = 'TSLA'

# Veri çekme işlemi (saatlik veriler)
df_tsla = yf.download(ticker, interval='1h', start=start_date, end=today)
df_tsla

In [ ]:
import yfinance as yf
import pandas as pd
from datetime import datetime, timedelta

In [ ]:
# Veri çekme işlemi (saatlik veriler)
df_TSLA = yf.download('TSLA', period="730d", interval="1h")
df_TSLA

In [ ]:
# Verileri CSV dosyasına kaydetme
df_tsla.to_csv('TSLA_hourly_data_3.csv')

### NIO

In [ ]:
# NIO için yfinance ile bir Ticker nesnesi oluşturun
NIO = yf.Ticker("NIO")

# En son saatlik verileri çekin (730 gün için)
df_NIO = NIO.history(period="730d", interval="1h")

# İlk birkaç satırı görüntüleyin
df_NIO

In [ ]:
# Verileri CSV dosyasına kaydetme
df_NIO.to_csv('NIO_hourly_data_3.csv')

### BYDDY

In [ ]:
# NIO için yfinance ile bir Ticker nesnesi oluşturun
BYDDY = yf.Ticker("BYDDY")

# En son saatlik verileri çekin (730 gün için)
df_BYDDY = BYDDY.history(period="730d", interval="1h")

# İlk birkaç satırı görüntüleyin
df_BYDDY

In [ ]:
# Verileri CSV dosyasına kaydetme
df_BYDDY.to_csv('BYDDY_hourly_data_3.csv')

### BYDDF

In [ ]:
# NIO için yfinance ile bir Ticker nesnesi oluşturun
BYDDF = yf.Ticker("BYDDF")

# En son saatlik verileri çekin (730 gün için)
df_BYDDF = BYDDF.history(period="730d", interval="1h")

# İlk birkaç satırı görüntüleyin
df_BYDDF

In [ ]:
# Verileri CSV dosyasına kaydetme
df_BYDDF.to_csv('BYDDF_hourly_data_3.csv')

### RIVN

In [6]:
import yfinance as yf
import pandas as pd
from datetime import datetime

# Hissenin sembolünü belirtin
symbol = "RIVN"

# yfinance ile bir Ticker nesnesi oluşturun
ticker = yf.Ticker(symbol)

# Hisse senedinin geçmiş verilerini getirin
history = ticker.history(period="max")

# Veri setindeki tüm tarihleri alın
all_dates = pd.date_range(start=history.index.min(), end=history.index.max(), freq='D')

# İşlem gören günleri belirlemek için bir döngü kullanın
trading_days = []
for date in all_dates:
    if date in history.index:
        trading_days.append(date)

# İşlem gören günlerin sayısını ve listesini alın
num_trading_days = len(trading_days)

# İşlem gören günlerin sayısını yazdırın
print(f"Toplam işlem gören gün sayısı: {num_trading_days}")

Toplam işlem gören gün sayısı: 654

In [7]:
first_date = history.index.min().tz_localize(None)
print(f"{symbol} hisse senedi için ilk işlem gördüğü tarih: {first_date}")
# Bugünün tarihini alın (zaman dilimi bilgisi olmayan)
today = datetime.now()
# İlk işlem tarihini ve bugünün tarihini kullanarak geçen süreyi hesaplayın
elapsed_time = today - first_date
print(f"{symbol} hisse senedinin işlem görmeye başladığından bugüne kadar geçen süre: {elapsed_time}")

RIVN hisse senedi için ilk işlem gördüğü tarih: 2021-11-10 00:00:00
RIVN hisse senedinin işlem görmeye başladığından bugüne kadar geçen süre: 953 days 14:56:32.028831

In [ ]:
# NIO için yfinance ile bir Ticker nesnesi oluşturun
RIVN = yf.Ticker("RIVN")

# En son saatlik verileri çekin (730 gün için)
df_RIVN = RIVN.history(period="654d", interval="1h")

# İlk birkaç satırı görüntüleyin
df_RIVN

In [ ]:
# Verileri CSV dosyasına kaydetme
df_RIVN.to_csv('RIVN_hourly_data_3.csv')

## Verileri birlestirme

In [37]:
df1=pd.read_csv("BYDDY_hourly_data_2.csv")
df2=pd.read_csv("BYDDY_hourly_data_3.csv")

In [41]:
# df1 ve df2 veri setlerini birleştirelim, tekrarlayan tarihleri önleyerek
merged_df = pd.concat([df1, df2]).drop_duplicates(subset=['Datetime'])

# Sonucu tarihe göre sıralayalım
merged_df = merged_df.sort_values(by='Datetime').reset_index(drop=True)

# İlk birkaç satırı görüntüleyelim
merged_df

,Datetime,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2021-07-27 09:30:00-04:00,52.509998,53.270000,52.470001,52.480000,0,0.0,0.0
1,2021-07-27 10:30:00-04:00,52.470001,52.521000,51.599998,51.650002,117307,0.0,0.0
2,2021-07-27 11:30:00-04:00,51.650002,51.680000,51.220001,51.250000,77407,0.0,0.0
3,2021-07-27 12:30:00-04:00,51.250000,51.349998,50.919998,50.919998,24819,0.0,0.0
4,2021-07-27 13:30:00-04:00,50.980000,51.430000,50.900002,51.275002,41538,0.0,0.0
...,...,...,...,...,...,...,...,...
5086,2024-06-18 12:30:00-04:00,59.930000,60.250000,59.930000,60.250000,42833,0.0,0.0
5087,2024-06-18 13:30:00-04:00,60.250000,60.250000,60.150002,60.200001,29430,0.0,0.0
5088,2024-06-18 14:30:00-04:00,60.209999,60.450001,60.209999,60.430000,79381,0.0,0.0
5089,2024-06-18 15:30:00-04:00,60.430000,60.470001,60.400002,60.450001,39140,0.0,0.0
5090,2024-06-20 09:30:00-04:00,60.639999,60.799999,60.639999,60.799999,3310,0.0,0.0

## alphavantage

In [50]:
# Your API key here
api_key = 'B0PC30JHUFQAW6IT'

# Base URL for the Alpha Vantage API
url = 'https://www.alphavantage.co/query'

In [61]:
import pandas as pd
import requests

# Hedef hisse senedi
symbol = 'TSLA'

# API isteği yapılacak URL
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=60min&apikey={api_key}'

# API isteği yapma
response = requests.get(url)
data = response.json()

# Verileri DataFrame'e dönüştürme
if 'Time Series (60min)' in data:
    df = pd.DataFrame(data['Time Series (60min)']).transpose()
    df.index = pd.to_datetime(df.index)
    df.columns = ['open', 'high', 'low', 'close', 'volume']
    df = df.astype(float)  # Veri tiplerini uygun formata çevirme
    print(df.head())  # DataFrame'i gösterme
else:
    print('Veri bulunamadı.')

                       open     high      low    close     volume
2024-06-18 19:00:00  184.65  184.690  184.550  184.680    84831.0
2024-06-18 18:00:00  184.71  184.780  184.630  184.630    54842.0
2024-06-18 17:00:00  184.72  196.509  179.946  184.730    64027.0
2024-06-18 16:00:00  184.93  184.980  184.600  184.660  6146216.0
2024-06-18 15:00:00  184.88  185.100  184.170  184.881  5812818.0

In [62]:
df

                       open     high      low    close     volume
2024-06-18 19:00:00  184.65  184.690  184.550  184.680    84831.0
2024-06-18 18:00:00  184.71  184.780  184.630  184.630    54842.0
2024-06-18 17:00:00  184.72  196.509  179.946  184.730    64027.0
2024-06-18 16:00:00  184.93  184.980  184.600  184.660  6146216.0
2024-06-18 15:00:00  184.88  185.100  184.170  184.881  5812818.0
...                     ...      ...      ...      ...        ...
2024-06-11 04:00:00  173.98  174.340  173.640  173.840    64372.0
2024-06-10 19:00:00  174.09  174.100  173.810  173.950    66549.0
2024-06-10 18:00:00  174.06  174.130  173.950  174.070    46233.0
2024-06-10 17:00:00  173.95  185.486  163.418  174.080   184399.0
2024-06-10 16:00:00  173.81  185.486  163.418  173.945  6226644.0

[100 rows x 5 columns]

In [78]:
import pandas as pd
import requests

# Hedef hisse senedi sembolü
symbol = 'TSLA'

# Başlangıç ve bitiş tarihlerini ayarlayın (örneğin son 100 gün)
today_date = pd.Timestamp.now()
end_date = today_date - pd.Timedelta(days=90)  # 100 gün önce
start_date = today_date - pd.Timedelta(days=180)  # 200 gün önce

# Alpha Vantage API isteği için URL oluşturma (günlük veri)
url_daily = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={api_key}'

In [79]:
# API isteği yapma (günlük veri)
response_daily = requests.get(url_daily)
data_daily = response_daily.json()

In [82]:
# API isteği yapma (saatlik veri)
response_hourly = requests.get(url_hourly)
data_hourly = response_hourly.json()

In [81]:


# Verileri DataFrame'e dönüştürme
if 'Time Series (60min)' in data_hourly:
    df_hourly = pd.DataFrame(data_hourly['Time Series (60min)']).transpose()
    df_hourly.index = pd.to_datetime(df_hourly.index)
    df_hourly = df_hourly[(df_hourly.index >= start_date) & (df_hourly.index <= end_date)]  # İstenen zaman aralığındaki verileri seçme
    df_hourly.columns = ['open', 'high', 'low', 'close', 'volume']
    df_hourly = df_hourly.astype(float)  # Veri tiplerini uygun formata çevirme
    print(df_hourly.head())  # DataFrame'i gösterme
else:
    print('Saatlik veri bulunamadı.')

Saatlik veri bulunamadı.

In [ ]:
df

In [66]:
# Hedef hisse senedi sembolü
symbol = 'TSLA'

# Başlangıç ve bitiş tarihlerini ayarlayın (örneğin son 100 gün)
end_date = '2024-06-18'
start_date = pd.Timestamp(end_date) - pd.Timedelta(days=100)

# Alpha Vantage API isteği için URL oluşturma
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={api_key}'

# API isteği yapma
response = requests.get(url)
data = response.json()

# Verileri DataFrame'e dönüştürme
if 'Time Series (Daily)' in data:
    df = pd.DataFrame(data['Time Series (Daily)']).transpose()
    df.index = pd.to_datetime(df.index)
    df = df[(df.index >= start_date) & (df.index <= end_date)]  # İstenen zaman aralığındaki verileri seçme
    df.columns = ['open', 'high', 'low', 'close', 'volume']
    df = df.astype(float)  # Veri tiplerini uygun formata çevirme
    print(df.head())  # DataFrame'i gösterme
else:
    print('Veri bulunamadı.')

              open    high     low   close       volume
2024-06-18  186.56  187.20  182.37  184.86   68982265.0
2024-06-17  177.92  188.81  177.00  187.44  109786083.0
2024-06-14  185.80  186.00  176.92  178.01   82038194.0
2024-06-13  188.39  191.08  181.23  182.47  118984122.0
2024-06-12  171.12  180.55  169.80  177.29   90389446.0

In [67]:
df

              open      high       low   close       volume
2024-06-18  186.56  187.2000  182.3700  184.86   68982265.0
2024-06-17  177.92  188.8100  177.0000  187.44  109786083.0
2024-06-14  185.80  186.0000  176.9200  178.01   82038194.0
2024-06-13  188.39  191.0800  181.2300  182.47  118984122.0
2024-06-12  171.12  180.5500  169.8000  177.29   90389446.0
...            ...       ...       ...     ...          ...
2024-03-15  163.16  165.1845  160.7600  163.57   97146832.0
2024-03-14  167.77  171.1700  160.5100  162.50  125494925.0
2024-03-13  173.05  176.0500  169.1500  169.48  104717978.0
2024-03-12  177.77  179.4300  172.4101  177.54   87009098.0
2024-03-11  175.45  182.8700  174.8000  177.77   85013157.0

[70 rows x 5 columns]

In [63]:
import requests
import json
from datetime import datetime

# Alpha Vantage API anahtarı

# Hedef hisse senedi
symbol = 'TSLA'

# API isteği yapılacak URL
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval=60min&apikey={api_key}'

# API isteği yapma
response = requests.get(url)
data = response.json()

# Verileri işleme
if 'Time Series (60min)' in data:
    for timestamp, values in data['Time Series (60min)'].items():
        date_time = datetime.strptime(timestamp, '%Y-%m-%d %H:%M:%S')
        print(f'Time: {date_time}, Open: {values["1. open"]}, High: {values["2. high"]}, Low: {values["3. low"]}, Close: {values["4. close"]}, Volume: {values["5. volume"]}')
else:
    print('Veri bulunamadı.')

Time: 2024-06-18 19:00:00, Open: 184.6500, High: 184.6900, Low: 184.5500, Close: 184.6800, Volume: 84831
Time: 2024-06-18 18:00:00, Open: 184.7100, High: 184.7800, Low: 184.6300, Close: 184.6300, Volume: 54842
Time: 2024-06-18 17:00:00, Open: 184.7200, High: 196.5090, Low: 179.9460, Close: 184.7300, Volume: 64027
Time: 2024-06-18 16:00:00, Open: 184.9300, High: 184.9800, Low: 184.6000, Close: 184.6600, Volume: 6146216
Time: 2024-06-18 15:00:00, Open: 184.8800, High: 185.1000, Low: 184.1700, Close: 184.8810, Volume: 5812818
Time: 2024-06-18 14:00:00, Open: 184.6800, High: 185.1000, Low: 183.8360, Close: 184.8840, Volume: 5033786
Time: 2024-06-18 13:00:00, Open: 184.1800, High: 185.3500, Low: 184.1800, Close: 184.6650, Volume: 5643451
Time: 2024-06-18 12:00:00, Open: 183.7500, High: 184.9000, Low: 183.6400, Close: 184.2000, Volume: 6633274
Time: 2024-06-18 11:00:00, Open: 183.0800, High: 184.1200, Low: 182.8000, Close: 183.7800, Volume: 9034742
Time: 2024-06-18 10:00:00, Open: 184.5700, High: 184.6000, Low: 182.3700, Close: 183.0680, Volume: 15683286
Time: 2024-06-18 09:00:00, Open: 187.5100, High: 187.5300, Low: 183.2300, Close: 184.5700, Volume: 15453640
Time: 2024-06-18 08:00:00, Open: 186.9500, High: 188.9300, Low: 180.0700, Close: 187.5400, Volume: 945345
Time: 2024-06-18 07:00:00, Open: 186.9900, High: 187.3000, Low: 186.1900, Close: 186.8000, Volume: 413090
Time: 2024-06-18 06:00:00, Open: 187.9100, High: 188.0000, Low: 186.8400, Close: 186.9900, Volume: 131256
Time: 2024-06-18 05:00:00, Open: 188.2800, High: 188.4700, Low: 187.9000, Close: 187.9600, Volume: 78221
Time: 2024-06-18 04:00:00, Open: 188.0000, High: 188.9500, Low: 187.1900, Close: 188.2400, Volume: 158050
Time: 2024-06-17 19:00:00, Open: 187.3450, High: 187.8000, Low: 187.1900, Close: 187.7700, Volume: 156862
Time: 2024-06-17 18:00:00, Open: 187.2300, High: 187.4400, Low: 187.1200, Close: 187.3400, Volume: 99427
Time: 2024-06-17 17:00:00, Open: 187.2000, High: 199.9970, Low: 181.0380, Close: 187.2100, Volume: 134437
Time: 2024-06-17 16:00:00, Open: 187.5200, High: 187.6000, Low: 186.0300, Close: 187.1100, Volume: 11230061
Time: 2024-06-17 15:00:00, Open: 187.6000, High: 188.7500, Low: 185.7000, Close: 187.5200, Volume: 14724738
Time: 2024-06-17 14:00:00, Open: 188.6480, High: 188.8100, Low: 186.2500, Close: 187.6050, Volume: 11184438
Time: 2024-06-17 13:00:00, Open: 184.9800, High: 188.7500, Low: 184.9400, Close: 188.6300, Volume: 11765533
Time: 2024-06-17 12:00:00, Open: 185.8050, High: 187.1590, Low: 184.4500, Close: 184.9600, Volume: 11591957
Time: 2024-06-17 11:00:00, Open: 185.8460, High: 186.6400, Low: 184.4000, Close: 185.7900, Volume: 15615453
Time: 2024-06-17 10:00:00, Open: 180.9200, High: 185.9100, Low: 180.6100, Close: 185.8400, Volume: 22729148
Time: 2024-06-17 09:00:00, Open: 176.8800, High: 189.9650, Low: 176.5400, Close: 180.9150, Volume: 13882251
Time: 2024-06-17 08:00:00, Open: 178.4500, High: 179.7500, Low: 176.5000, Close: 176.8800, Volume: 705794
Time: 2024-06-17 07:00:00, Open: 178.6400, High: 178.7000, Low: 177.8000, Close: 177.9100, Volume: 175265
Time: 2024-06-17 06:00:00, Open: 178.6300, High: 178.7800, Low: 178.2600, Close: 178.5600, Volume: 70572
Time: 2024-06-17 05:00:00, Open: 178.4500, High: 179.0000, Low: 178.1200, Close: 178.6500, Volume: 80222
Time: 2024-06-17 04:00:00, Open: 178.7700, High: 179.8800, Low: 178.0100, Close: 178.4500, Volume: 129138
Time: 2024-06-14 19:00:00, Open: 177.4700, High: 178.0900, Low: 177.4500, Close: 177.6200, Volume: 130102
Time: 2024-06-14 18:00:00, Open: 177.8100, High: 178.0100, Low: 177.4500, Close: 177.4700, Volume: 93343
Time: 2024-06-14 17:00:00, Open: 177.8200, High: 177.8800, Low: 177.7500, Close: 177.8100, Volume: 77820
Time: 2024-06-14 16:00:00, Open: 177.9100, High: 187.6280, Low: 171.7320, Close: 177.8400, Volume: 5464933
Time: 2024-06-14 15:00:00, Open: 178.0500, High: 178.7500, Low: 177.7800, Close: 177.9650, Volume: 9003316
Time: 2024-06-14 14:00:00, Open: 178.2840, High: 181.5000, Low: 177.5500, Close: 178.0600, Volume: 6525769
Time: 2024-06-14 13:00:00, Open: 179.5650, High: 179.7200, Low: 178.2380, Close: 178.3000, Volume: 5857623
Time: 2024-06-14 12:00:00, Open: 177.8800, High: 179.6700, Low: 177.7100, Close: 179.5650, Volume: 6961539
Time: 2024-06-14 11:00:00, Open: 178.8990, High: 179.7000, Low: 176.9200, Close: 177.8900, Volume: 12084690
Time: 2024-06-14 10:00:00, Open: 182.6600, High: 185.7700, Low: 178.2200, Close: 178.8900, Volume: 20174219
Time: 2024-06-14 09:00:00, Open: 185.5750, High: 204.4700, Low: 181.6650, Close: 182.7000, Volume: 14850567
Time: 2024-06-14 08:00:00, Open: 183.7600, High: 186.4200, Low: 182.7200, Close: 185.6000, Volume: 1544959
Time: 2024-06-14 07:00:00, Open: 184.2500, High: 185.2200, Low: 182.7200, Close: 184.6500, Volume: 497621
Time: 2024-06-14 06:00:00, Open: 184.5200, High: 185.0000, Low: 183.6300, Close: 184.2900, Volume: 141634
Time: 2024-06-14 05:00:00, Open: 185.1000, High: 185.2500, Low: 184.1500, Close: 184.5200, Volume: 161376
Time: 2024-06-14 04:00:00, Open: 183.6700, High: 185.3000, Low: 182.8700, Close: 185.0600, Volume: 262644
Time: 2024-06-13 19:00:00, Open: 182.4400, High: 183.6000, Low: 182.3110, Close: 182.6250, Volume: 378839
Time: 2024-06-13 18:00:00, Open: 183.1500, High: 183.2300, Low: 182.3000, Close: 182.4300, Volume: 364663
Time: 2024-06-13 17:00:00, Open: 183.8000, High: 188.1100, Low: 182.0100, Close: 183.1300, Volume: 1419107
Time: 2024-06-13 16:00:00, Open: 182.5600, High: 196.8900, Low: 176.5680, Close: 183.7600, Volume: 9262453
Time: 2024-06-13 15:00:00, Open: 183.8300, High: 184.2600, Low: 181.2300, Close: 182.5650, Volume: 11841931
Time: 2024-06-13 14:00:00, Open: 184.2400, High: 184.8800, Low: 183.7000, Close: 183.8500, Volume: 6453046
Time: 2024-06-13 13:00:00, Open: 183.6100, High: 184.5300, Low: 183.2800, Close: 184.2750, Volume: 6243630
Time: 2024-06-13 12:00:00, Open: 184.7500, High: 185.5800, Low: 182.8000, Close: 183.6440, Volume: 10639145
Time: 2024-06-13 11:00:00, Open: 182.5400, High: 184.9500, Low: 182.5400, Close: 184.7600, Volume: 12164906
Time: 2024-06-13 10:00:00, Open: 189.5000, High: 191.0800, Low: 181.9400, Close: 182.5500, Volume: 31023471
Time: 2024-06-13 09:00:00, Open: 189.1000, High: 190.3000, Low: 185.7700, Close: 189.4750, Volume: 24638067
Time: 2024-06-13 08:00:00, Open: 187.0060, High: 191.6000, Low: 171.2350, Close: 189.1000, Volume: 3968406
Time: 2024-06-13 07:00:00, Open: 186.3800, High: 189.9000, Low: 185.5600, Close: 188.9400, Volume: 1370136
Time: 2024-06-13 06:00:00, Open: 185.7700, High: 186.9900, Low: 185.3000, Close: 186.3800, Volume: 312077
Time: 2024-06-13 05:00:00, Open: 188.8300, High: 189.2000, Low: 185.2600, Close: 185.7500, Volume: 619735
Time: 2024-06-13 04:00:00, Open: 187.3700, High: 190.0000, Low: 184.1200, Close: 188.8200, Volume: 1068940
Time: 2024-06-12 19:00:00, Open: 177.8300, High: 178.1500, Low: 177.8300, Close: 178.1000, Volume: 116522
Time: 2024-06-12 18:00:00, Open: 178.0800, High: 178.4600, Low: 177.2900, Close: 177.8400, Volume: 139621
Time: 2024-06-12 17:00:00, Open: 177.4480, High: 178.3500, Low: 176.7230, Close: 177.9300, Volume: 176502
Time: 2024-06-12 16:00:00, Open: 177.3400, High: 180.6800, Low: 172.0600, Close: 177.4500, Volume: 8145324
Time: 2024-06-12 15:00:00, Open: 179.3000, High: 180.2300, Low: 176.9600, Close: 177.1900, Volume: 12277773
Time: 2024-06-12 14:00:00, Open: 178.9900, High: 180.5500, Low: 177.6500, Close: 179.3300, Volume: 10502509
Time: 2024-06-12 13:00:00, Open: 179.4700, High: 180.0130, Low: 177.8500, Close: 178.9860, Volume: 6185584
Time: 2024-06-12 12:00:00, Open: 179.5400, High: 180.2700, Low: 178.5200, Close: 179.4550, Volume: 10177874
Time: 2024-06-12 11:00:00, Open: 176.2700, High: 179.6800, Low: 176.0200, Close: 179.5430, Volume: 13937285
Time: 2024-06-12 10:00:00, Open: 173.9150, High: 177.4600, Low: 173.0600, Close: 176.2900, Volume: 17171536
Time: 2024-06-12 09:00:00, Open: 172.1200, High: 174.2400, Low: 169.8000, Close: 173.9200, Volume: 13626485
Time: 2024-06-12 08:00:00, Open: 170.2000, High: 174.4450, Low: 168.1250, Close: 172.1080, Volume: 899738
Time: 2024-06-12 07:00:00, Open: 170.2300, High: 170.5500, Low: 170.0100, Close: 170.4400, Volume: 84724
Time: 2024-06-12 06:00:00, Open: 169.6900, High: 170.3500, Low: 169.6500, Close: 170.2500, Volume: 48938
Time: 2024-06-12 05:00:00, Open: 169.7400, High: 169.8200, Low: 169.5100, Close: 169.7000, Volume: 40052
Time: 2024-06-12 04:00:00, Open: 170.0500, High: 170.4800, Low: 169.5100, Close: 169.7400, Volume: 64516
Time: 2024-06-11 19:00:00, Open: 170.3300, High: 170.5500, Low: 170.2000, Close: 170.5400, Volume: 78064
Time: 2024-06-11 18:00:00, Open: 170.0500, High: 181.5210, Low: 162.4070, Close: 170.3200, Volume: 69012
Time: 2024-06-11 17:00:00, Open: 170.5700, High: 170.6000, Low: 169.7600, Close: 170.0500, Volume: 139823
Time: 2024-06-11 16:00:00, Open: 170.5800, High: 170.8700, Low: 169.8000, Close: 170.5850, Volume: 4891055
Time: 2024-06-11 15:00:00, Open: 169.3400, High: 170.7300, Low: 169.2400, Close: 170.5800, Volume: 7503965
Time: 2024-06-11 14:00:00, Open: 169.4900, High: 170.1600, Low: 169.0100, Close: 169.3350, Volume: 5996189
Time: 2024-06-11 13:00:00, Open: 167.7350, High: 169.6000, Low: 167.6820, Close: 169.5020, Volume: 5578808
Time: 2024-06-11 12:00:00, Open: 168.7730, High: 168.9000, Low: 167.4100, Close: 167.7350, Volume: 7542182
Time: 2024-06-11 11:00:00, Open: 169.3300, High: 170.0000, Low: 168.2700, Close: 168.7660, Volume: 8113013
Time: 2024-06-11 10:00:00, Open: 167.9200, High: 170.1800, Low: 167.7200, Close: 169.3400, Volume: 12321343
Time: 2024-06-11 09:00:00, Open: 173.9500, High: 176.0900, Low: 167.7000, Close: 167.9200, Volume: 13474075
Time: 2024-06-11 08:00:00, Open: 173.7000, High: 179.1350, Low: 173.5100, Close: 173.9700, Volume: 406060
Time: 2024-06-11 07:00:00, Open: 173.5900, High: 174.2500, Low: 173.5200, Close: 174.0500, Volume: 126205
Time: 2024-06-11 06:00:00, Open: 173.6700, High: 173.9100, Low: 173.5300, Close: 173.5600, Volume: 49446
Time: 2024-06-11 05:00:00, Open: 173.8700, High: 174.0400, Low: 173.5500, Close: 173.6600, Volume: 38196
Time: 2024-06-11 04:00:00, Open: 173.9800, High: 174.3400, Low: 173.6400, Close: 173.8400, Volume: 64372
Time: 2024-06-10 19:00:00, Open: 174.0900, High: 174.1000, Low: 173.8100, Close: 173.9500, Volume: 66549
Time: 2024-06-10 18:00:00, Open: 174.0600, High: 174.1300, Low: 173.9500, Close: 174.0700, Volume: 46233
Time: 2024-06-10 17:00:00, Open: 173.9500, High: 185.4860, Low: 163.4180, Close: 174.0800, Volume: 184399
Time: 2024-06-10 16:00:00, Open: 173.8100, High: 185.4860, Low: 163.4180, Close: 173.9450, Volume: 6226644

In [ ]:
# Parameters for the API request
params = {
    'function': 'TIME_SERIES_INTRADAY',
    'symbol': 'TSLA',
    'interval': '60min',  # Hourly data
    'apikey': api_key,
    'datatype': 'json'
}

# Make the API request
response = requests.get(url, params=params)
data = response.json()

# Convert the JSON data to a pandas DataFrame
if 'Time Series (60min)' in data:
    df = pd.DataFrame.from_dict(data['Time Series (60min)'], orient='index')
    df.columns = ['open', 'high', 'low', 'close', 'volume']
    df.index = pd.to_datetime(df.index)
    df = df.astype(float)
    print(df.head())
else:
    print("Error fetching data. Check API call and parameters.")

In [ ]:
# Parameters for the API request
params = {
    'function': 'NEWS_SENTIMENT',
    'tickers': 'TSLA',  # Tesla ticker symbol
    'apikey': api_key,
}

# Make the API request
response = requests.get(url, params=params)
data = response.json()

# Check if the response contains the news data
if 'feed' in data:
    news_items = data['feed']
    
    # Convert the news items to a pandas DataFrame
    df = pd.DataFrame(news_items)
    
    # Select relevant columns for display
    df = df[['title', 'url', 'time_published', 'summary', 'source']]
    
    # Convert 'time_published' to datetime
    df['time_published'] = pd.to_datetime(df['time_published'])
    
    print(df.head())
else:
    print("Error fetching data. Check API call and parameters.")

In [ ]:
df

In [ ]:
import requests

# GDELT API URL
url = 'http://api.gdeltproject.org/api/v2/doc/doc'

# Parameters for the API request
params = {
    'query': 'Tesla',
    'mode': 'ArtList',
    'maxrecords': 250,  # Maximum number of records to return
    'format': 'JSON',
    'startdatetime': '20140101000000',  # Start date (YYYYMMDDHHMMSS)
    'enddatetime': '20240601000000'  # End date (specific date and time)
}

# Make the API request
response = requests.get(url, params=params)

# Print raw response content
print(response.text)

In [ ]:
# Check the status code of the response
if response.status_code == 200:
    try:
        data = response.json()
        print(data)
    except ValueError as e:
        print("JSON decode error:", e)
        print("Response content:", response.text)
else:
    print(f"Request failed with status code {response.status_code}")
    print("Response content:", response.text)

In [ ]:
import requests
from datetime import datetime, timedelta

# GDELT API URL
url = 'http://api.gdeltproject.org/api/v2/doc/doc'

# Calculate dates for the last 6 months
end_date = datetime.now()
start_date = end_date - timedelta(days=180)

# Format dates to the required format (YYYYMMDDHHMMSS)
start_date_str = start_date.strftime('%Y%m%d%H%M%S')
end_date_str = end_date.strftime('%Y%m%d%H%M%S')

# Parameters for the API request
params = {
    'query': 'Tesla',
    'mode': 'ArtList',
    'maxrecords': 250,  # Maximum number of records to return
    'format': 'JSON',
    'startdatetime': start_date_str,  # Start date
    'enddatetime': end_date_str  # End date
}

# Make the API request
response = requests.get(url, params=params)

# Print raw response content
print(response.text)

# Check the status code of the response
if response.status_code == 200:
    try:
        data = response.json()
        print(data)
    except ValueError as e:
        print("JSON decode error:", e)
        print("Response content:", response.text)
else:
    print(f"Request failed with status code {response.status_code}")
    print("Response content:", response.text)

In [ ]:
import requests
import pandas as pd
from datetime import datetime

# GDELT API URL
url = 'http://api.gdeltproject.org/api/v2/doc/doc'

# Parameters for the API request
params = {
    'query': 'Tesla',
    'mode': 'ArtList',
    'maxrecords': 250,  # Maximum number of records to return
    'format': 'JSON',
    'startdatetime': '20140101000000',  # Start date (YYYYMMDDHHMMSS)
    'enddatetime': datetime.now().strftime('%Y%m%d%H%M%S')  # End date (current date and time)
}

In [ ]:
# Make the API request
response = requests.get(url, params=params)
data = response.json()

In [ ]:
# Check if the response contains the news data
if 'articles' in data:
    articles = data['articles']
    
    # Convert the articles to a pandas DataFrame
    df = pd.DataFrame(articles)
    
    # Select relevant columns for display
    df = df[['title', 'url', 'seendate', 'socialimage', 'source', 'language']]
    
    # Convert 'seendate' to datetime
    df['seendate'] = pd.to_datetime(df['seendate'])
    
    print(df.head())
else:
    print("Error fetching data. Check API call and parameters.")

In [ ]:
import requests
import pandas as pd
from datetime import datetime, timedelta

# GDELT API URL
url = 'http://api.gdeltproject.org/api/v2/doc/doc'

# Calculate dates for the last 6 months
end_date = datetime.now()
start_date = end_date - timedelta(days=365)

# Format dates to the required format (YYYYMMDDHHMMSS)
start_date_str = start_date.strftime('%Y%m%d%H%M%S')
end_date_str = end_date.strftime('%Y%m%d%H%M%S')

# Parameters for the API request
params = {
    'query': 'Tesla',
    'mode': 'ArtList',
    'maxrecords': 250,  # Maximum number of records to return
    'format': 'JSON',
    'startdatetime': start_date_str,  # Start date
    'enddatetime': end_date_str  # End date
}

# Make the API request
response = requests.get(url, params=params)

# Check the status code of the response
if response.status_code == 200:
    try:
        data = response.json()
        
        # Convert the articles to a pandas DataFrame
        df = pd.DataFrame(data['articles'])
        
        # Select relevant columns for display
        df = df[['title', 'url', 'seendate', 'socialimage', 'domain', 'language', 'sourcecountry']]
        
        # Convert 'seendate' to datetime
        df['seendate'] = pd.to_datetime(df['seendate'])
        
        # Print the DataFrame
        print(df.head())
        
    except ValueError as e:
        print("JSON decode error:", e)
        print("Response content:", response.text)
else:
    print(f"Request failed with status code {response.status_code}")
    print("Response content:", response.text)

In [ ]:
df_eng = df[df["language"] == "English"].reset_index(drop=True)

In [ ]:
df_eng

In [ ]:
df

In [ ]:
data